* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

.app {
    background-image: url("../kyle-glenn-SrASYZZpyjw-unsplash.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    -o-object-fit: contain;
    object-fit: contain;
    font-family: "Stick No Bills", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: .8px;
}

.in-app {
    background: rgba(225, 225, 225, 0.5);
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    -o-object-fit: contain;
    object-fit: contain;
}



/*NAVBAR~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.navbar {
    background: #b6ad90;
    height: 70px;
    text-align: left;
    font-size: 20px;
    position: relative;
}

a:link, a:visited {
    color: #314528;
    text-decoration: none;
    position: relative;
    top: -20px;
    padding-left: 20px;
}

a:hover, a:active {
    color: #314528;
    background-color: #b3aa8d;
}

.navbar button {
    color: #45573d;
    border: none;
    background-color: #b6ad90;
    font-size: 16px;
    padding: 5px;
    font-family: "Stick No Bills", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: .8px;
    float: right;
    padding-top: 20px;
    padding-right: 15px;

}

.navbar button:hover {
    background-color: #b3aa8d;
    cursor: pointer;
}
.navbar-img {
    height: 60px;
}

/*AUTH~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.auth-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.auth-container > form {
    border: 3px solid #582f0e;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.auth-container > form > input {
    margin: 12px 7px;
    padding: 9px;
    border-radius: 4px;
    border: none;
    background-color: #dad8ce75;
    color: #314528;
    font-family: "Stick No Bills", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: .8px;
}

.auth-container > form > button {
    margin: 12px 7px;
    padding: 9px;
    border-radius: 4px;
    border: none;
    background-color: #838179aa;
    font-family: "Stick No Bills", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: .8px;
}

.auth-container p {
    padding-top: 20px;
}

.auth-container p:hover {
    cursor: pointer;
    opacity: 80%;

}

/*PROFILE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.profile-container {
    display: flex;
    margin: 5px;
    padding: 10px;
    flex-direction: column;
}

.profile-container h2 {
    font-size: 60px;
    text-align: center;
    padding: 20px;
    align-self: center;
}

.prof-left {
    align-self: center;
    border: 3px solid #582f0e;
    border-radius: 4px;
    padding: 10px;
}

.prof-left h4 {
    align-self: center;
    padding-left: 20px;
}

.prof-right {
    align-self: flex-start;
    margin-top: 50px;
}

.prof-right h4 {
    border-bottom: 3px solid #22271f;
    max-width: fit-content;
    font-size: 32px;
    margin-left: 10px;
}

.sighting-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.sighting-form > input {
    margin: 12px 7px;
    padding: 9px;
    border-radius: 4px;
    border: none;
    background-color: #dad8ce75;
    color: #314528;
    font-family: "Stick No Bills", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: .8px;
}

.sighting-form > button {
    margin: 12px 7px;
    padding: 9px;
    border-radius: 4px;
    border: none;
    background-color: #838179e1;
    font-family: "Stick No Bills", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: .8px;
}

/*PUBLIC~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.sighting {
    background-color: #b3aa8d72;
    margin: 15px;
    border: 5px solid #303e29;
    max-width: 50%;
    

}

.sighting h3 {
    font-size: 38px;
    padding-left: 7px;
}

.sighting p {
    font-size: 18px;
    padding-left: 8px;
}

.sighting button {
    margin: 5px 3px;
    padding: 4px;
    border-radius: 4px;
    border: none;
    background-color: #5237378a;
    font-family: "Stick No Bills", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .8px;
}


.votes button {
    margin: 3px 2px;
    padding: 3px;
    border-radius: 4px;
    border: none;
    background-color: #767b88e1;
    font-family: "Stick No Bills", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 14px;
    width: 36px;
}

.comment {
    padding-left: 10px;
    border-top: 1px solid #45573d;
}

.comment-form {
    border-top: 5px solid #303e29;
}

.comment-form > input {
    margin: 12px 7px;
    padding: 3px;
    border-radius: 4px;
    border: none;
    background-color: #dad8ce75;
    color: #314528;
    font-family: "Stick No Bills", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: .8px;

}

.comment-list {
    border-top: 5px solid #303e29;
}
/*
@media (max-width: 600px)
@media (max-width: 1000px)
@media (max-width: 1200px)*/