* {
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
    padding: 0;
    color: #c4baba;
}

body {
    background-color: #181717;
}

h1 {
    margin: 5px;
}

h4 {
    margin: 5px;
}

form {
    border: 3px solid #b7b91c;
    padding: 20px;
    margin: 25px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #c4baba;
    border-radius: 8px;
    margin: 5px;
}

button {
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    color: #b7b91c;
    background-color: #181717;
    border: 1px solid #a69797;
}

.delete-btn {
    background-color: #333;
    color: #b7b91c;
    margin: 10px;
}

.edit-btn {
    background-color: #333;
    color: #b7b91c;
    margin: 10px;
}

.bounty-container {
    display: flex;
    flex-direction: column;
    margin: 0 32px;
}

.bounty--Jedi {
    border: 2px solid #2a14ee;
    padding: 10px;
    margin: 5px;
}

.bounty--Sith {
    border: 2px solid #e02b2b;
    padding: 10px;
    margin: 5px;
}

.add-form {
    display: flex;
    flex-direction: row;
}

.bounty-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}